{% extends 'core/base.html' %}

{% block content %}

{% load crispy_forms_tags %}


<div class="bg-fondo">
  <h3 class="text-light text-center py-3">Cambio de Contraseña</h3>

  <form id="change-password-form" action="{% url 'cambiar_contraseña' %}" method="post">
    {% csrf_token %}
    
    <!-- Mostrar mensajes de éxito o error -->
    {% if messages %}
      <div class="alert alert-dismissible fade show" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    <div class="card mx-auto" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Complete todos los campos para cambiar su contraseña</h5>
        {{ form | crispy }}
        <button class="btn btn-sm bg-verde_menta text-light float-end" type="submit">Cambiar Contraseña</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
